/*общие стили*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{

}
body{
    background-color: #fff;
    width: 100%;

}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;margin: 0 auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.column{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.column1{ width: 8.33%; }
.column2{ width: 16.66%; }
.column3{ width: 25%; }
.column4{ width: 33.33%; }
.column5{ width: 41.66%; }
.column6{ width: 50%; }
.column7{ width: 58.33%; }
.column8{ width: 66.66%; }
.column9{ width: 75%; }
.column10{ width: 83.11%; }
.column11{ width: 91.66%; }
.column4:nth-of-type(3n+1){
    clear: both;
}
a{ text-decoration: none;}
li{ list-style-type: none;}
p{font-size: 16px;}
h1,h2,h3{
    font-weight: normal;

}
h2{
    font-size: 24px;
    margin-bottom: 20px;
}

/*header*/
header{
    background-color: #434343;
    width: 100%;
    margin-bottom: 30px;
}
nav,.logo{
    float: left;
}
nav li,nav li a,.btn-basket {
    display: inline-block;
}

nav li a{
    padding: 15px 15px;
    color: #fff;
}
nav li a:hover{
    background-color: #fff;
    color: #000;
}
.logo{
    padding: 15px;
    color:#fff;
    background-color: #3d85c6;

}


/*главная страница*/
.banner{
    background-image: url("../img/banner.jpeg");
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: 0px;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}
/*боковое меню*/
aside a{
    display: block;
    color: #0ea7c9;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}
.item-block {
    margin-bottom: 40px;
}
.item-block img{
    width: 200px;
    height: 133px;
    margin-bottom: 10px;
}
.btn-basket{
    background-color: #8bab42;
    color: #fff;
    padding: 10px 27px;
    font-weight: bold;
}
/*страница каталога*/
/*хлебные крошки*/
.breadcrumbs{
    margin-bottom: 20px;
}
.breadcrumbs a,.breadcrumbs p{
    display: inline-block;
}
.breadcrumbs a{

    position: relative;
    border-bottom: 1px solid #666;
    font-size: 16px;
    color: #666;
}
.breadcrumbs p:before{
    content: "/";
    position: absolute;
    left: -10px;
    bottom: 0;
    font-size: 16px;
    font-weight: normal;
}
.breadcrumbs p{
    margin-left: 20px;
    font-size: 20px;
    color: #000;position: relative;
}
.breadcrumbs a:nth-of-type(n+2){
    position: relative;
    margin-left: 15px;
}
.breadcrumbs a:nth-of-type(n+2):before{
    content: "/";
    position: absolute;
    left: -10px;
    top: 0;
}

/*страница товара*/
main,section{
    overflow: hidden;
    margin-bottom: 100px;
}
.order-status .row{
    background-color: #d0e0e3;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 20px;
}
.order-status p{
    float: left;
    padding: 5px;
    color: #0ea7c9;
}
.order-status-btn-basket{
    float: right;
    background-color: #8bab42;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
}
.item-heading{
    margin-bottom: 15px;
}
.item-heading h1{
    margin: 0;
    float: left;
    font-size: 20px;
    font-weight: normal;
}
.item-heading p{
    float: right;
}
.item-breadcrumbs{
    border-radius: 5px;
    background-color: #efefef;
    display: inline-block;
    padding: 5px 10px;
}
.price{
    text-align: right;
    font-weight: bold;
    font-size: 22px;
}
.item-gallery>img{
    width: 100%;
    height: 213px;
    margin-bottom: 10px;
}
.small-images img{
    width: 78px;
    margin-right: 5px;
}
.item-description{
    color: #666;
    margin-bottom: 25px;
}
.grey-bold{
    font-weight: bold;
}
.order-btns{
    margin-top: 25px;
}
.btn-click{
    display: inline-block;
    padding: 10px 26px;
    background-color: #3d85c6;
    color: #fff;
    font-weight: bold;
}

/*footer*/
footer{
    position:fixed;
    bottom: 0;
    background-color: #434343;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

 .catalog-items li {
     display: inline-block;
     margin-right: 10px;
     width: 30px;
     height: 30px;
     line-height: 29px;
     text-align: center;
     background: yellow;
     color: blue; }
 .catalog-items li a {
     text-decoration: none;
     display: block;
     color: blue;
     width: 30px;
     height: 30px; }
 .catalog-items li.current {
     background: green;
     color: white; }

 .btn {
     z-index: 2;
     display: inline-block;
     text-decoration: none;
     background: yellow;
     color: blue;
     padding-left: 10px;
     padding-right: 10px;
     height: 30px;
     line-height: 29px; }

 .add-item {
     margin-top: 10px; }

 .catalog-items {
     z-index: 2;
     display: block;
     float: none;
     clear: left; }

 .adm-btn {
     display: inline-block;
     text-decoration: none;
     background: yellow;
     text-align: center;
     color: blue;
     width: 45%;
     height: 30px;
     line-height: 29px;
     margin-top: 10px;
 }
 .adm-btn.edit {
     background-color: #8bab42;
     margin-right: 10%;
 }
 .adm-btn.delete {
     background-color: red;
 }
 .adm-cat {
     display: inline-block;
     margin-right: 2px;
 }
 .edit-cat {
     display: inline-block;
     height: 16px;
     width: 16px;
     background: url("../img/text.png") no-repeat 0 0;
 }

 .user-link {
     display: inline-block;
     margin-right: 8px;
     text-decoration: none;
     color: white;
 }

 .cart {
     margin-left: 8px;
 }

 .product {
     text-align: center;
 }

.product-data {
    text-align: center;
}

.categories .current {
    color: #8bab42;
}

header .container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cart-info {
    padding-top: 5px;
}

.cart-info p {
    display: inline-block;
    color: red;
}

.exit {
    display: inline-block;
    margin-left: 3px;
}

.products {
    padding-top: 3px;
    color: #fffb93;
}

.product-table {
    text-align: center;
    width: 100%;
    line-height: 25px;
}

.product-table th {
    background: #fffb93;
    border: 1px solid #0ea7c9;
}

.product-table td {
    border: 1px solid #0ea7c9;
    background: #f2f8ff;
}

.order-cost {
    padding: 10px 0;
}

.order-cost span {
    color: #0ea7c9;
}

.create-order {
    color: #0ea7c9;
    text-decoration: none;
    background: yellow;
    line-height: 30px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
}

label {
    display: block;
}

.default-form .required {
    color: red;
}

.default-form .required-field {
    position: relative;
    display: block;
    width: 100%;
}

.default-form .required-field:before {
    position: absolute;
    content: '*';
    right: 48%;
    top: 0;
    color: red;
}

.edit-form {
    display: inline-block;
    width: 50%;
}

.edit-form input:not([type='submit']),
.edit-form textarea {
    width: 100%;
}

.auth-form input {
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    width: 30%;
}

.auth-form button {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.add-item,
.delete,
.edit {
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.item-gallery.edit {
    vertical-align: top;
    display: inline-block;
    width: 318px;
    margin-left: 3px;
}

.table-products {
    width: 100%;
    text-align: center;
}

.table-products thead td {
    border: 1px solid #0ea7c9;
    height: 25px;
    line-height: 25px;
}

.table-products .adm-btn {
    margin: 0;
    width: 85px;
    padding: 0;
}

.table-products td {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #fffb93;
    border-top: 0;
}

.table-products td:first-child {
    width: 75px;
}

.table-products td:nth-child(2) {
    width: 232px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-products td:nth-child(3) {
    width: 194px;
}

.table-products td:nth-child(4) {
    width: 97px;
}

.table-products td:nth-child(5) {
    width: 97px;
}

.table-products:last-child {
    border-bottom: 1px solid #fffb93;
}

.edit-form input[type=submit] {
    margin-top: 5px;
}

aside a.adm-btn {
    padding: 0 10px;
    font-weight: 400;
    width: auto;
}

.categories.list {
    width: 100%;
    text-align: center;
}

.categories.list .adm-btn {
    margin: 0;
}

.categories.list thead td {
    border: 1px solid #0ea7c9;
    height: 25px;
    line-height: 25px;
}

.categories.list td:first-child {
    width: 38px;
}

.categories.list td:nth-child(2) {
    width: 343px;
}

.categories.list td:nth-child(3) {
    width: 168px;
}

.categories.list td:nth-child(4) {
    width: 147px;
}

.categories.list tbody td {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #fffb93;
    border-top: 0;
}

.categories.list:last-child tbody td {
    border-bottom: 1px solid #fffb93;
}

.order-list {
    width: 400px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.order-list td:first-child {
    width: 100px;
}

.order-list td:last-child {
    width: 300px;
}

.order-list .adm-btn {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.order-list thead td {
    border: 1px solid #0ea7c9;
    height: 25px;
    line-height: 25px;
}

.order-list tbody td {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #fffb93;
    border-top: 0;
}

.order-list:last-child tbody td {
    border-bottom: 1px solid #fffb93;
}

.row.orders {
    text-align: center;
}

.row.orders p {
    margin-bottom: 5px;
}

.customer td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 3px;
}

.customer thead td,
.products-table thead td {
    border: 1px solid #0ea7c9;
    font-size: 14px;
    line-height: 16px;
}

.customer tbody td,
.products-table tbody td{
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #fffb93;
    border-top: 0;
}

.customer, .customer tr,
.products-table, .products-table tr {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    width: 697px;
}

.customer td:first-child {
    width: 100px;
}

.customer td:nth-child(2) {
    width: 247px;
}

.customer td:nth-child(3) {
    width: 200px;
}

.customer td:nth-child(4) {
    width: 150px;
}

.info {
    margin: 5px;
}

.products-table {

}

.order-info span {
    color: #0ea7c9;
}
