.catalog-items {
        z-index: 2;
        display: block;
        float: none;
        clear: left;
    li {
        display : inline-block;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        line-height: 29px;
        text-align: center;
        background: yellow;
        color: blue;
        a {
            text-decoration: none;
            display: block;
            color: blue;
            width: 30px;
            height: 30px;
        }
        &.current {
            background: green;
            color: white;
        }
    }
}

.btn {
     z-index: 2;
     display: inline-block;
     text-decoration: none;
     background: yellow;
     color: blue;
     padding-left: 10px;
     padding-right: 10px;
     height: 30px;
     line-height: 29px;
}

.add-item {
    margin-top: 10px;

}