.catalog-items {
  z-index: 2;
  display: block;
  float: none;
  clear: left; }
  .catalog-items li {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    background: yellow;
    color: blue; }
    .catalog-items li a {
      display: block;
      color: blue;
      width: 30px;
      height: 30px; }
    .catalog-items li.current {
      background: green;
      color: white; }
